<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="url" value="${db.cmst.url}"/>
        <property name="filters" value="stat"/>
        <property name="username" value="${db.cmst.username}"/>
        <property name="password" value="${db.cmst.password}"/>
        <property name="proxyFilters">
            <list>
                <ref bean="log-filter"/>
            </list>
        </property>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${db.cmst.initialsize}"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="${db.cmst.maxactive}"/>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${db.cmst.maxidle}"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${db.cmst.minidle}"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${db.cmst.maxwait}"/>
    </bean>

    <!-- druid 日志输出filter -->
    <bean id="log-filter" class="com.alibaba.druid.filter.logging.Log4jFilter">
        <property name="statementExecutableSqlLogEnable" value="true"/>
        <property name="resultSetLogEnabled" value="false"/>
        <property name="statementLogEnabled" value="false"/>
        <property name="connectionLogEnabled" value="false"/>
        <property name="dataSourceLogEnabled" value="false"/>
    </bean>

    <!-- 开启事务注解驱动 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>